.navbar .img{
  width: 100px;
}

.carousel .h1{
  color: red;
}

/*.jumbotron{
  background-image: url("img/bg.jpg");
  background-size: cover;
  height: 850px;
  color: white;
}

.jumbotron .display-4{
  margin-top: 520px;
}
*/
